.git
.github

.env
.env.*
!.env.example


vendor
node_modules

bootstrap/cache/*
!bootstrap/cache/.gitignore

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
coverage

npm-debug.log*
npm.log

README.md
